<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Get test by Id</title>
</head>

<body>
  <div id="app">
    <h2>Get All tests (GET)</h2>
    <button id="getAllButton" v-on:click="getAllTests" class="btn btn-primary">Get all tests</button>

    <ul id="coronaTestList" v-if="tests.length">
      <li v-for="coronaTest in tests">
        <table class="table-striped table-bordered table-hover">
          <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
         </colgroup>
          <thead>
            <tr>
              <th>Test ID</th>
              <th>Maskinens Navn</th>
              <th>Temperatur</th>
              <th>Location</th>
              <th>Dato</th>
              <th>Tidspunkt</th>
            </tr>
          </thead>
          <tr>
            <td>{{coronaTest.testId}}</td>
            <td>{{coronaTest.machineName}}</td>
            <td>{{coronaTest.temperature}} ℃</td>
            <td>{{coronaTest.location}}</td>
            <td>{{coronaTest.date}}</td>
            <td>{{coronaTest.time}}</td>
          </tr>
        </table>
      </li>
    </ul>
    <div v-else>No tests</div>

  <div id="app">
    <h2>Get by ID (GET)</h2>
    <p>Indtast testens ID nedenunder i søgefeltet for at finde testens oplysninger.</p>
    <input v-model="idToGetBy" placeholder="id" type="number" />
    <button v-on:click="getById(idToGetBy)" class="btn btn-primary">Get by id</button>
    <div span="6" style="align-items: center; width: 70%;" v-if="singleTest">
      <div class="container">
        <table class="table-striped table-bordered table-hover">
          <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
         </colgroup>
          <thead>
            <tr>
              <th>Test ID</th>
              <th>Maskinens Navn</th>
              <th>Temperatur</th>
              <th>Location</th>
              <th>Dato</th>
              <th>Tidspunkt</th>
            </tr>
          </thead>
          <tr>
            <td>{{singleTest.testId}}</td>
            <td>{{singleTest.machineName}}</td>
            <td>{{singleTest.temperature}} ℃</td>
            <td>{{singleTest.location}}</td>
            <td>{{singleTest.date}}</td>
            <td>{{singleTest.time}}</td>
          </tr>
        </table>
      </div>
      <p style="text-align: center;">
        <!-- <strong>TestID:</strong> {{singleTest.testId}}, <strong>Maskinens Navn:</strong> {{singleTest.machineName}}, <strong>Temperatur: </strong>{{ singleTest.temperature}}, <strong>Lokalition: </strong>{{singleTest.location}} - (<strong>Dato: </strong>{{singleTest.date}}, {{singleTest.time}}) -->
      </p>
    </div>
    <div v-else>No such test exists</div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
